.full-width-table {
  width: 100%;
}

th.mat-header-cell {
  background-color: #e0e0e0;
}

.line-column {
  text-align: right;
  color: #9e9e9e;
}

.centered-column {
  text-align: center;
}

.code-column {
  white-space: pre;
}

.green-background {
  background-color: lightgreen;
}

.red-background {
  background-color: lightcoral;
}

.code-line {
  margin-left: 2em;
  cursor: pointer;
  position: relative;
}

.code-line::before {
  content: attr(data-linenumber);
  cursor: pointer;
  width: 0.5em;
  left: -2em;
  position: relative;
  opacity: 0.6;
  display: inline-block;
  z-index: 2;
}

.back-button-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.methods-table-container {
  margin: auto; 
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  text-align: center;
}

.complexity-legend {
  margin-bottom: 15px;
  font-size: 14px;
  text-align: left;
}
