<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Line By Line Monitor</a>
      <a class="nav-item nav-link" routerLink="/testcoverage">Test Coverage</a>
      <a class="nav-item nav-link" routerLink="/historical">Historical Coverage</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron" style="padding: 1rem; margin: 0;">
  <router-outlet></router-outlet>
</div>
