<form class="example-form" [formGroup] = "dataForm" (ngSubmit) = "onSubmit()" >
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>UnitTestRoot</mat-label>
        <input matInput formControlName="UnitTestRoot">
      </mat-form-field></td>
      <td><mat-form-field>
        <mat-label>Coverage Level</mat-label>
        <mat-select formControlName="CoverageLevel">
          <mat-option *ngFor="let covlevel of CoverageLevels" [value]="covlevel">{{covlevel}}</mat-option>
        </mat-select>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Coverage Classes</mat-label>
        <textarea matInput placeholder="" formControlName="CoverageClasses"> </textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Coverage Routines</mat-label>
        <textarea matInput placeholder="" formControlName="CoverageRoutines"></textarea>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width">
        <mat-label>PidList</mat-label>
        <textarea matInput placeholder="" formControlName="PidList"> </textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Timing</mat-label>
        <mat-select formControlName="Timing">
          <mat-option *ngFor="let timing of timingsList" [value]="timing">{{timing}}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  
    <div class="flex-box"> 
      <button type=submit mat-raised-button>Submit</button>
      <div *ngIf="isLoading$ | async" class="spinner-container" >
        <mat-spinner [diameter] = "24"></mat-spinner>
      </div>
    </div>
    
  </form>
  