.form-card {
  margin: 20px;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.example-full-width {
  width: 100%;
  margin-bottom: 20px;
}

.spinner-container {
  margin-left: 10px; /* Adjust the space between button and spinner */
}

.flex-box {
  display: flex;
  align-items: center;
}
