.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.spinner-container {
  margin-left: 10px; /* Adjust the space between button and spinner */
}

.flex-box {
  display: flex;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}
