.code {
  white-space: pre;
  display: grid;
  overflow-x: auto;
  overflow-y: scroll;
  max-height: 75vh;
}

.header {
  position: sticky;
  cursor: pointer;
  top: 0;
  background-color: #c9cccf;
  z-index: 5;
}

.grid-item {
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-end: auto;
}

.bold {
  font-weight: bold;
}

.code-line {
  margin-left: 2em;
  cursor: pointer;
}

.code-line::before {
  content: attr(data-linenumber);
  cursor: pointer;
  width: 0.5em;
  left: -2em;
  position: relative;
  opacity: 0.6;
  display: inline-block;
  z-index: 2;
}
