
.header-container {
    text-align: center;
    padding: 20px;
    margin-left: 20px; 
  }
  
.app-title {
    font-size: 36px;
    color: black;
    margin-bottom: 5px;
  }

.app-description {
    font-size: 18px;
    color: #303030;

}
  